# Ignore everything in the bin directory except for .gitkeep
bin/
!bin/.gitkeep

# Compiled object files
*.obj

# Conan files
conan.lock
conanbuildinfo.args
conanbuildinfo.txt
conaninfo.txt
graph_info.json

# User input
input_file.toml
